/* @import url("https://fonts.googleapis.com/csss2?famliy=Roboto"); */
:root {
  /* color */
  --white-color: #ffffff;
  --back-color: #534bae;
  --faq-con-color: #1a237e;
  --shadow-color: #000051;
  --faq-button-color: #e8e7f4;
  --answer-back-color: #1e105d;
  --answer-bar-color: #f9a825;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* faq */
div.faqMenu3 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  background-color: var(--back-color);
}
/* Section used for centering process */
section.faq {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3.3rem;
  color: var(--white-color);
  padding: 100px 0 50px 0;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item {
  background-color: var(--faq-con-color);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 4px 0.5rem var(--shadow-color);
}

.accordion-link {
  font-size: 1.6rem;
  color: var(--white-color);
  text-decoration: none;
  background-color: var(--faq-con-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link i {
  color: var(--faq-button-color);
  padding: 0.5rem;
}

.accordion-link .fa-minus {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--answer-back-color);
  transition: max-height 600ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: var(--answer-bar-color);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: var(--white-color);
  font-size: 1.4rem;
  padding: 1.5rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .fa-plus {
  display: none;
}

.accordion-item:target .accordion-link .fa-minus {
  display: block;
}

/* contact us */

/* .contact {
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: var(--back-color);
}

.wrapper {
  width: 720px;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0.5rem 4px 0.5rem var(--shadow-color);
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid var(--gray-light-color);
}

.wrapper form {
  margin: 35px 30px;
}

form .dbl-field {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

.dbl-field .field {
  height: 50px;
  position: relative;
  width: calc(100% / 2 -13px);
}

form .field input,
form .message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  font-family: "Roboto";
  border: 1px solid var(--gray-light-color);
  border-radius: 5px;
}
form .field input::placeholder,
form .message textarea::placeholder {
  color: var(--gray-dark-color);
}
form .field input:focus,
form .message textarea:focus {
  border: 2px solid var(--back-color);
}
.wrapper form i {
  position: absolute;
  left: 18px;
  top: 50%;
  color: var(--gray-dark-color);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input:focus ~ i,
form .message textarea:focus ~ i {
  color: var(--back-color);
}
form .message {
  position: relative;
}
form .message i {
  top: 30px;
  font-size: 20px;
}
form .message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 15px 20px 0 48px;
}
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button {
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: var(--back-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 13px 25px;
}
.button-area span {
  color: var(--back-color);
  font-size: 13px;
  margin-left: 30px;
  display: none;
}

@media (max-width: 600px) {
  .wrapper header {
    text-align: center;
  }
  form .dbl-field {
    margin-bottom: 0px;
    flex-direction: column;
  }
  .dbl-field .field {
    width: 100%;
    margin-bottom: 20px;
  }
  form .message textarea {
    resize: none;
  }
  form .button-area {
    flex-direction: column;
  }
  .button-area button {
    width: 100%;
  }
  .button-area span {
    text-align: center;
    padding-top: 15px;
    margin-right: 20px 0;
  } */
}
